.grid-container {
  display: grid;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* .grid-child:hover {
  background-color: black;
} */

/* .grid-child:not(:hover) {
  transition: background-color 2s;
} */
